<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fallo inicio de sesion</title>
  <style>
    body {
      text-align: center;
      padding: 150px;
    }

    h1 {
      font-size: 50px;
    }

    body {
      font: 20px Helvetica, sans-serif;
      color: #333;
    }

    article {
      display: block;
      text-align: left;
      width: 650px;
      margin: 0 auto;
    }

    a {
      color: #0016dc;
      text-decoration: none;
    }

    a:hover {
      color: #333;
      text-decoration: none;
    }
  </style>
</head>

<body>
  <article>
    <h1>Se necesita Iniciar sesión </h1>
    <div>
      <p>Esto puede suceder por entrar a la página sin iniciar sesión o por intentar ingresar a otra página que no te
        corresponde.</p>
      <p>Puedes volver a la <a href="/">página de inicio</a>.</p>
    </div>
  </article>
</body>

</html>