<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Usuarios - Otzo</title>
    <!-- Enlaces a los archivos CSS de Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<!-- Navbar de Bootstrap -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Otzo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto"> <!-- Alinea el contenido a la derecha -->
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/almacenista"> Regresar al Inicio</a>
        </li> 
        <li class="nav-item">
          <a class="nav-link" href="/logout">Cerrar Sesión</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Contenido de tu página -->
<div class="container my-5">
  <h2 class="mb-4 text-center">Gestión de Productos</h2>

  <div class="row align-items-center text-center">
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h3 class="card-title fw-bold">Agregar Productos</h3>
          <p class="card-text text-muted">Agregar un nuevo Producto al sistema.</p>
          <a href="/agregar_producto" class="btn btn-primary">Agregar Producto</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h3 class="card-title fw-bold">Modificar Productos</h3>
          <p class="card-text text-muted">Modificar la información de un Producto existente.</p>
          <a href="/modificar_producto" class="btn btn-primary">Modificar Producto</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h3 class="card-title fw-bold">Eliminar Producto</h3>
          <p class="card-text text-muted">Eliminar un Producto del sistema.</p>
          <a href="/eliminar_producto" class="btn btn-primary">Eliminar Producto</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mt-4" id="productTableContainer">
  <div class="col-md-12">
    <div class="card fadeIn">
      <div class="card-body">
        <h5 class="card-title">Productos Registrados</h5>
        <div class="table-responsive">
          <table id="userTable" class="table table-bordered table-sm">
            <thead>
              <tr>
                <th>Codigo de Barras</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Existencia</th>
              </tr>
            </thead>
            <tbody>
              <!-- Aquí se insertarán las filas de la tabla con los datos de los usuarios -->
              {% for producto in productos %}
              <tr>
                <td>{{ producto[0] }}</td>
                <td>{{ producto[1] }}</td>
                <td>{{ producto[2] }}</td>
                <td>{{ producto[3] }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Enlaces a los archivos JS de Bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>

  

