<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Iniciar sesión</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!-- Bootstrap JS -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <script type="text/javascript">
                    document.addEventListener('DOMContentLoaded', function() {
                        var mensaje = "{% for category, message in messages %}{{ message }}\n{% endfor %}";
                        alert(mensaje);
                    });
                </script>
            {% endif %}
        {% endwith %}
    </head>
    <body>
        <div class="container">
            <div class="row justify-content-center mt-5">
                <div class="col-md-6">
                    <div class="rounded p-4 bg-light">
                        <h1 class="mb-4">Iniciar sesión</h1>
                        <form method="POST">
                            {{ form.hidden_tag() }}
                            <div class="form-group">
                                {{ form.username.label }}
                                {{ form.username(class="form-control") }}
                            </div>
                            <div class="form-group">
                                {{ form.password.label }}
                                {{ form.password(class="form-control") }}
                            </div>
                            <div class="form-group">
                                {{ form.submit(class="btn btn-primary btn-block") }}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
